@import '../../global.scss';

.add-event-container {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.mobile {
        padding: 40px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-event-label {
        font-weight: 600;
    }

    .add-event-buttons {
        margin-top: 40px;
        margin-right: auto;
        display: flex;
        gap: 20px;
    }

    .add-event-header {
        position: relative;
        display: flex;
        justify-content: start;

        .back-arrow {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            font-weight: bold;
            color: $primary-color;
            cursor: pointer;
            padding: 0 10px;
        }

        h1 {
            padding-left: 50px;
        }
    }
}