@import "../../global.scss";

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;

    .icon-name {
        color: $text-color;
        user-select: none;
        cursor: pointer;
    }

    &.selected {
        border: 1px solid $primary-color;
    }
}

