@import '../../global.scss';

.sidebar {
    top: 0px;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 2;
    width: 70px;
    background-color: $second-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 0.5px solid #18807E;
    gap: 10px;
    padding: 15px 0;
    padding-top: 120px;

    .sidebar-icon {
        color: #ffffff;
        font-size: 24px;
        margin: 20px 0;
        cursor: pointer;
        transition: color 0.2s ease;
    }
      
    .sidebar-icon:hover {
        color: #D8FFFE;
    }

    .divider {
        width: 80%;
        height: 1px;
        background-color: #18807E;
        margin: 20px 0;
    }
}

