@import '../../global.scss';

.event-container {
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    gap: 40px;

    &.mobile{
        padding: 40px 20px 60px 20px;
    }

    h1{
        margin-right: auto;
    }

    .event-details-title {
        font-size: 1.2rem;
        color: $primary-color;
        font-weight: 500;
        margin-top: -20px;
    }


    .event-details-footer {
        display: flex;
        justify-content: space-between;

        .event-details-buttons {
            display: flex;
            gap: 20px;
        }

        .event-details-spots {
            align-self: center;
            margin-left: 24px;
            font-weight: 500;
        }
    }

    p {
        font-size: 1rem;
    }

.event-header {
    position: relative;
    display: flex;
    align-items: center;

    .back-arrow {
        position: static;
        transform: none;
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
        cursor: pointer;
        padding: 0 10px;
        flex-shrink: 0;
    }

    h1 {
        margin: 0;
    }
}
}