@import '../../global.scss';

.event-container {
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    gap: 40px;

    .event-details-title {
        font-size: 1.2rem;
        color: $primary-color;
        font-weight: 500;
        margin-top: -20px;
    }


    .event-details-footer {
        display: flex;
        justify-content: space-between;

        .event-details-buttons {
            display: flex;
            gap: 20px;
        }

        .event-details-spots {
            align-self: center;
            margin-left: 24px;
            font-weight: 500;
        }
    }

    p {
        font-size: 1rem;
    }

    .event-header {
        position: relative;

        .back-arrow {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            font-weight: bold;
            color: $primary-color;
            cursor: pointer;
            padding: 0 10px;
        }

        h1 {
            padding-left: 50px;
        }
    }
}