$background-color: #f7f9fc;
$second-background-color: #edf0f6;
$text-color: #333;
$secondary-text-color: #ffffff;
$primary-color: #18807D;
$font-family: 'Inter', sans-serif;
$mobile-breakpoint: 500px;

html {
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(90deg, 
      #edf2f1 0%, 
      #f7f9fc 50%, 
      #edf2f1 100%
    ) fixed;
    background-color: #edf2f1;

    @media (max-width: 768px) {
      html {
        font-size: 12px;
      }
    }
    
    @media (max-width: 480px) { 
      html {
        font-size: 10px;
      }
    }
    position: relative;
}

body {
  min-height: 100vh;
  height: 100%;
  color: $text-color;
  font-family: $font-family !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: transparent;
}

body.modal-open {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
}


h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.layout {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.layout-content {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}

.sidebar-container {
  width: 70px;
  position: sticky;
  top: 86px;
  height: calc(100vh - 86px);
  transition: opacity 0.3s ease-in-out;
  
  &.loading {
    opacity: 0;
  }
}

.main-content {
  width: 100%;
  margin-top: 86px;
  padding-left: 0;
  min-width: 0; // This prevents content from expanding beyond container
  overflow-x: hidden;
}

@media (max-width: $mobile-breakpoint) {
  .main-content {
    padding: 0 20px;
  }
}

@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: $small-mobile-breakpoint) {
    @content;
  }
}

