
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 2;
    background-color: #D5F3F2;
    border-bottom: 1px solid #1A8A86;

    .header-buttons {
        display: flex;
        gap: 16px;
    }
}
