@import '../../global.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: calc(100% - 40px);
  background: rgba(237, 240, 246, 0.8);;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  border-bottom: 0.5px solid rgba(123, 215, 212, 0.3);
  z-index: 3;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70px; 
    right: 0;
    height: 0.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
  }

  .logo {
    height: 40px;
    cursor: pointer;
  }

  .search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 40%;

    form {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
    }

    .search-input {
      width: 100%;
      padding: 8px 16px;
      padding-right: 80px;
      border: 1px solid $primary-color;
      border-radius: 10px;
      font-size: 0.9rem;
      outline: none;
      transition: all 0.1s ease;
      
      &:focus {
        border: 1.5px solid $primary-color;
      }
    }

    .clear-button {
      position: absolute;
      right: 44px;
      background: none;
      border: none;
      color: #666;
      cursor: pointer;
      padding: 8px;
      font-size: 1.2rem;
      line-height: 1;
      transition: color 0.2s ease;

      &:hover {
        color: darken(#666, 20%);
      }
    }

    .search-button {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      color: $primary-color;
      cursor: pointer;
      padding: 9.5px 12px 5.5px 12px;
      height: 100%;
      transition: color 0.2s ease;
      border-left: 1px solid $primary-color;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }

  .header-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
