@import '../../global.scss';

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 3;
    position: fixed;
    width: calc(100% - 60px);
    background-color: $second-background-color;
    border-bottom: 0.5px solid #1A8A86;

    .header-buttons {
        display: flex;
        gap: 16px;
    }
}
