@import '../../global.scss';

.event-details-container {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    gap: 24px;

    &.mobile{
        padding: 20px;
    }

    .event-details-header {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        font-weight: 600;

    }

    .event-details-body {
        font-weight: 500;
        font-size: 1.2rem;

    }

}